.App {
  text-align: center;
  
}
.wrapper {
  display: inline-flex;
  flex-direction: column;
}
.page-wrap {
  height:95%;
	
	border-top:1px solid #000;
	padding-top:55px;
  padding-left:10px;
  
  
  
  
}


.static {
  position: fixed;
  z-index: 1001;
}
.outer-container {
  height: 100%;
  position: sticky;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
html {
  scroll-behavior: smooth;
}
title{
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bolder;
}

li {
  
  justify-content: center;
  
  padding: auto;
  margin-inline: 2;
  
  
  margin-top: -ceil(5);
}

